main div {
  width: 100%;
  height: 150px;
  margin: 2px; 
}

main {
  height: 2000px;
}

#static {
  background-color: blue;
}

#relative {
  background: red;
  /* position: relative;
  left: 300px; */
}

#fixed {
  background-color: blueviolet;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}

#absolute {
  background-color: brown;
  /* position: relative; */
}

#absolute div {
  width: 50%;
  background: black;
  /* position: absolute;
  right: 0;
  bottom: 0; */
}

#sticky {
  background: pink;
  /* position: sticky;
  bottom: 20px; */
}





/* GLOBAL */
span, footer > h2 {
  background-color: orange;
  color: white;
}

header, footer {
  text-align: center;
}

