*{
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: purple;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr ;
    justify-items: space-between;
    height: 50px;
    
}

main{
    background-color: darkturquoise;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  
}

nav, section{
    background-color: forestgreen;
}

button{
    background-color: hotpink;
    border-radius: 20px;
    justify-self: end;
    justify-items: end;
    padding: 5px 15px;
    align-self: center;
}

footer{
    display: grid;
   
}