<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exercício 1</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Sou um título GRANDÃO</h1>
  <h2>Sou um título GRANDE</h2>
  <h3>Sou um título MÉDIO</h3>
  <h4>Sou um título PEQUENO</h4>
  <h5>Sou um título PEQUENINO</h5>
  <h6>Sou um título MINÚSCULO</h6>

  <h2 class="texto-com-background">
    Sou um título GRANDE
  </h2>

  <h2 class="texto-com-background" id="texto-com-outra-cor">
    Sou um título GRANDE
  </h2>
</body>
</html>
