*{
    margin: 0;
    padding: 0;
}

header, footer{
    border: black 2px solid;
    text-align: center;
    background: chartreuse;
}

main{
    height: 1000px;
    background: blue;
}

header{
    position: fixed;
    right: 0;
    left: 0;
}