*{
    padding: 0;
    margin: 0;
}

header, footer{
    display: flex;
    background-color: mediumvioletred;
    align-items: center;
    justify-content: space-between;

}

header div{
    display: flex;
    align-items: center;
}
header >div > h2{
    padding-left:10px;
}

img{
    display: flex;
    width: 20px;

}

button{
    
    border-radius: 30px;
    background-color: darkturquoise;
    margin-right: 10px;
    width: 50px;
    align-items: center;
}

button:hover{
    background-color: darkviolet;
    transform: scale(2);
    color: ghostwhite;
    margin-right: 30px;
}

.sidebar-esquerda{
    display:flex;
    flex-direction: column;
    background-color: #f2d0e0;
    width: 700px;
    padding: 10px;
}

.sidebar-esquerda div{
    display: flex;
  
}

.sidebar-esquerda div p{
    padding-left: 10px;
}

sidebar .sidebar-menu{
    display: flex;
    justify-content: space-between;
}
.icone-texto{
    display: flex;
    padding: 10px;
}


/*Estilizacao do Main*/
.card-bolo{
    text-align: center;
    box-shadow: darkgray;
    width: fit-content;
    border: 1px solid;
    justify-content: space-between;

}
.card-bolo img{
    width: 100%;
}

.card-bolo h2{
    padding: 10px;

}
.card-bolo p{
    padding: 0 30px;
}

.imagens-bolos:hover{
    transform: scale(1.5)
    
}

.container-dos-bolos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 10px;
  
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  

} 

body{
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1fr;
}

main{
   display:flex;
   height: max-content;

}