/* SELETOR GLOBAL */

* {
   margin: 0;
   padding: 0;
}





/*  PSEUDO CLASSES */
section input:invalid {
   border: 1px solid red;
}

section button:hover {
   background: red;
}

section button:active {
   transform: scale(2);
}
















/* GLOBAL */
span, footer > h2 {
   background-color: orange;
   color: white;
}

header, footer {
   text-align: center;
}
