*{
    margin: 0;
    padding: 0;
}

/* Estilo do Header*/
header{
    display: flex;
    background-color: tomato;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
header div{ 
    padding-left: 20px;
}
#busca{
    width: 300px;
    height: 30px;
    margin-right: 5px;
    border-radius: 20px;
    padding: 5px;
}
/* Estilo do Header*/
/****************************************************************************************/
/* Estilo do Main*/
main{
    height: 100vh;
    width: 100vh;
    justify-content: center;
    margin-bottom:400px;
}
body{
    background-color: #b3af34;
}
.bloco-videos{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 1fr 1fr ;
    text-align: center;
    width: 100%;
    height: fit-content;
    background-color:#34b8c6;
    padding-left: 30px;
    padding-right: 30px;
}

.video-individual{
margin: 20px;
width: 400px;
height: 400px;
}

.video-individual div{
    padding-top: 80px;
}
.video-individual > video{
    width: 400px;
    height:300px;
}
#controle-de-video:hover{
    transform: scale(1.1);
}

.titulo-video{
    background-color:#b38b34;
    color: white;
    display: inline-flex
}

.titulo-video:hover{
    transform: scale(2)
}
/* Estilo do Main*/
/****************************************************************************************/
/* Estilo do Footer*/
footer{
    display: flex;
    background-color:#090979;
    height: 80px;
    color: white;
    border-bottom: solid 2px tomato;
    padding-top: 50px;

/* Estilo do Footer*/


