* {
    margin: 0;
    padding: 0;
}

.botao{
    text-align: center;
    align-items: center;
}
button{
    
    border-radius: 32px 5px;
  
    
    background-color: indigo;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


main button:active{
    color: green
}

main button:hover{
    background-color: yellow
}